/* Style for the body */
body {
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling */
  background-color: black;
  touch-action: none;
  /* Prevent touch gestures like zooming */
}

/* Style for the game canvas */
#gameCanvas {
  background-color: pink;
  display: block;
  touch-action: none;
  /* Prevent touch gestures on the canvas */
}

/* Joystick container */
.joystick-container {
  position: fixed;
  bottom: 20px;
  /* Changed from 50px to 20px to move it lower */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  display: none;
}

/* Show buttons on mobile devices */
@media only screen and (max-width: 1024px) {
  .joystick-container {
    display: block;
  }

  .mobile-controls {
    display: none;
    /* Hide the old controls */
  }
}
